{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}

        {% trans 'Movie Reccomendations will be displayed here' %}

        <form action="/reccomendation_system">
            <button onclick="location.href='{% url 'change_language' %}'">Trigger Function</button>
            {% if data %}
                {{data | safe}}
            {% endif %}
        </form>

        <button onclick="location.href='{% url 'script' %}'">Run Script</button>
        {% if data %}
            {{data | safe}}
        {% endif %}

    {% else %}

        {% trans 'You are not logged in. Log in to view your movie recomendations.' %}

    {% endif %}

{% endblock %}
