{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}

        {% trans 'Please click the button below to display your personalised movie reccomendations based on the previous movie ratings you have entered.' %}

        <form action="/reccomendation_system">
            <button onclick="location.href='{% url 'script' %}'">Output in Terminal</button>
            {% if data %}
                {{data | safe}}
            {% endif %}

            <br>
            {{data}}
        </br>
        </form>

    {% else %}

        {% trans 'You are not logged in. Log in to view your movie recomendations.' %}

    {% endif %}

{% endblock %}
